.page {
  min-width: 1020px;
  margin: 0 auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #212121;
  /* background: linear-gradient(322deg, rgba(56, 65, 36, 1) 0%, rgba(36, 37, 31, 1) 3%, rgba(33, 33, 33, 1) 50%); */
}

/*Header*/

.header {
  background-color: #232323;
}

.header__container {
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  text-decoration: none;
  position: absolute;
  left: 10%;
  top: 28%;
  font-size: 35px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
}

.logo__img {
  width: 225px;
}

.menu__links {
  list-style: none;
  width: 25, 4%;
  display: flex;
  transition: all 1s ease;
}

.menu__link:hover {
  color: #72b33b;
}

.menu__link {
  text-decoration: none;
  color: #e0dede;
  margin-right: 50px;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.section-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 37px;
  max-width: 79%;
}

.section-subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #F8F8F8;
  max-width: 78%;
  text-align: center;
  margin: 0 auto;
}

.header__background {
  position: relative;
  min-height: 90vh;
  background-image: url(../images/header__background.jpeg);
  background-position: right;
  background-size: cover;
  box-sizing: border-box;
  border-top: 2px solid #72b33b;
}

.header__background::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .65);
}

.header__text {
  position: absolute;
  left: 10%;
  top: 28%;
  z-index: 2;
}

.header__title {
  text-align: left;
  margin-left: 0;
  margin-bottom: 35px;
  font-size: 69px;
  line-height: 71px;
}

.header__subtitle {
  text-align: left;
  margin-left: 0;
  margin-bottom: 65px;
  font-size: 25px;
  line-height: 32px;
}

.button {
  background-color: #1b1b1b;
  color: #fff;
  font-size: 28px;
  border-radius: 5px;
  padding: 21px 68px;
  border: 1px solid transparent;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
  border: 1px solid #72b33b;
}

.button:active {
  box-shadow: none;
  border: 1px solid #464646;
}

/* About */

.about {
  min-height: 60vh;
  padding-top: 9%;
  padding-bottom: 7%;
  border-bottom: 1px solid #464646;
  /* background: linear-gradient(139deg, rgba(56, 65, 36, 1) 0%, rgba(36, 37, 31, 1) 8%, rgba(33, 33, 33, 1) 70%); */
}

.about__columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img_about {
  width: 280px;
}

.about__prototype {
  width: 44%;
  height: 44%;
}

.about__prototype-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px outset #72b33b;
}

.about__column {
  width: 33%;
  margin-left: 8%;
  padding: 40px;
  background-color: rgba(0, 0, 0, .15);
  border-radius: 15px;
}

.about__header {
  margin-top: 0;
}

.about__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1.35px;
  color: #ebebeb;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* Features */

.features {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  background-image: url(../images/background-vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-bottom: 1px solid #464646;
}

.two-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.two-columns__brief {
  font-family: 'Roboto';
  color: #ebebeb;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.2px;
  max-width: 600px;
  margin: 0;
  width: 44%;
  padding-right: 6%;
}

.span__accent {
  color: #72b33b;
  display: inline-block;
}

.two-columns__text {
  display: flex;
  align-items: flex-start;
}

.two-columns__list-item {
  color: #cccccc;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 400px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.two-columns__list-item:last-child {
  margin-bottom: 0;
}

.two-columns__img {
  width: 50px;
  padding-right: 30px;
}

.two-columns__subtitle {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.35px;
  color: #fff;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 17px;
}


.features__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

/* Partners */

.partners {
  padding-top: 10vh;
  padding-bottom: 12vh;
}

.table {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 82%;
  margin: 70px auto 20px;
}

.table__cell {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.table__cell_innova {
  width: 25%;
}

.table__cell img {
  width: 100%;
}

/* Team*/

.team {
  padding-top: 10vh;
  padding-bottom: 8vh;
  border-top: 1px solid #464646;
  background-color: #ebebeb;
}

.team__title {
  color: #212121;
  margin-bottom: 50px;
}

.team__block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.team__row {
  display: flex;
  justify-content: space-evenly;
}

.team__member {
  display: flex;
  align-items: flex-start;
  margin-right: 35px;
  margin-bottom: 40px;
  background-color: #ebebeb;
  border-radius: 20px;
  width: 27vw;
}

.team__member:last-child {
  margin-right: 0;
}

.team__member-photo {
  margin: 10px;
  border-radius: 100%;
  width: 130px;
}

.team__member-second-column {
  padding-top: 10px;
}

.team__member-name {
  margin: 0;
  padding: 0 0 5px 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #363636;
}

.team__member-text {
  margin: 0;
  padding: 0 0 15px 10px;
  font-size: 24px;
  color: #959595;
}

.team__member-social {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.team__member-social-link {
  margin-left: 10px;
}

.team__member-social-icon {
  width: 25px;
}

/* Footer */

.footer {
  min-height: 300px;
  color: #cccccc;
  display: flex;
  padding: 40px 0 10px 0;
  box-sizing: border-box;
  border-top: 2px solid #292929;
}

.footer__columns {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.logo_place_footer {
  left: 0;
  top: 5%;
}

.menu__links_footer {
  flex-direction: column;
  margin: 0;
}

.menu__link-li {
  margin-bottom: 10px;
}

.menu__link_footer {
  color: #cccccc;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.menu__link_footer:hover {
  color: #ebebeb;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link-li {
  display: flex;
  align-items: center;
}

.footer__column-link {
  display: flex;
  align-items: center;
  color: #cccccc;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.footer__column-link:hover {
  color: #ebebeb;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 18px;
}

.footer__social-icon {
  width: 23px;
  padding-right: 10px;
}

/* Contact */

.contacts {
  min-height: 80vh;
  background-image: url(../images/planet.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 10%;
  padding-bottom: 5%;
  border-top: 1px solid #72b33b;
}

.contact__container {}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__input {
  width: 50%;
  margin-bottom: 20px;
  height: 50px;
  border: 3px solid #72b33b;
  border-radius: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  color: #000000;
  padding: 5px 0 5px 15px;
  outline: none;
}

.contact__input_txt {
  min-height: 200px;
}

.contact__input:focus {
  border: 3px solid #a3fd55;
}

.button_contact {
  border: 1px solid #4b4b4b;
  padding: 21px 100px;
}
