.page {
  min-width: 1020px;
  margin: 0 auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  background: linear-gradient(129deg, rgba(56, 65, 36, 1) 0%, rgba(36, 37, 31, 1) 35%, rgba(33, 33, 33, 1) 100%);
}

/*Header*/

.header {
  background-color: #232323;
}

.header__flex {
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  text-decoration: none;
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 35px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: #fff;
}

.logo__img {
  width: 200px;
}

.header__menu-links {
  list-style: none;
  width: 25, 4%;
  display: flex;
  transition: all 1s ease;
}

.header__menu-link:hover {
  color: #72b33b;
}

.header__menu-link {
  text-decoration: none;
  color: #e0dede;
  margin-right: 50px;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.section-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.2px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 37px;
  max-width: 79%;
}

.section-subtitle {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #F8F8F8;
  max-width: 78%;
  text-align: center;
  margin: 0 auto;
}

.header__prototype {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
  background-image: url(../images/prototype.jpeg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  border-top: 2px solid #72b33b;
  border-bottom: 2px solid #72b33b;
  box-sizing: border-box;
}

.header__prototype::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .65);
}

.header__text {
  position: absolute;
  left: 10%;
  top: 30%;
  z-index: 2;
}

.header__title {
  text-align: left;
  margin-left: 0;
  margin-bottom: 22px;
}

.header__subtitle {
  text-align: left;
  margin-left: 0;
  margin-bottom: 65px;
}

.header__button {
  background-color: #1b1b1b;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
  padding: 16px 60px;
  border: 1px solid transparent;
}

.header__button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
  border: 1px solid #72b33b;
}

.header__button:active {
  box-shadow: none;
  border: 1px solid transparent;
}

/* About */

.about {
  min-height: 100vh;
  border-bottom: 1px solid #72b33b;
}

/* Features */

.features {
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  border-bottom: 1px solid #72b33b;
}

.two-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.two-columns__brief {
  font-family: 'Roboto';
  color: #cccccc;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.2px;
  max-width: 600px;
  margin: 0;
  width: 44%;
}

.span__accent {
  color: #72b33b;
  display: inline-block;
}

.two-columns__text {
  display: flex;
  align-items: flex-start;
}

.two-columns__list-item {
  color: #cccccc;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 400px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.two-columns__img {
  width: 50px;
  padding-right: 30px;
}

.two-columns__subtitle {
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.35px;
}

/* Partners */

.table {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  width: 82%;
  margin: 70px auto 20px;
  padding: 0;
}

.table__cell {
  max-width: 230px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.table__cell img {
  max-width: 230px;
}

/* Footer */

.footer {
  min-height: 320px;
  color: #cccccc;
  display: flex;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  border-top: 2px solid #292929;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  padding-left: 5px;
}

.logo_place_footer {
  left: 0;
  top: 0;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  color: #cccccc;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 18px;
}

.footer__social-icon {
  padding-right: 10px;
}
